<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的测试</title>
</head>
<body>
<form action="/user/doAdd"  method = "post">
  ID     <input type="text" name="id" /> <br />
  用户名  <input type="text" name="username" /> <br />
  密码   <input type="password" name="password" /> <br />

  爱 好&nbsp&nbsp  <input type="checkbox" value=1 id="label1" name="hobby"/> <label for="label1">吃饭</label>
    <input type="checkbox" value=2 id="label2" name="hobby"/> <label for="label2">睡觉</label>
    <input type="checkbox" value=3 id="label3" name="hobby"/> <label for="label3">敲代码</label>

    <input type="submit" value="提交">

</form>

</body>
</html>